@font-face {
 font-family: "MuseoSans";
 src: url("ofont.ru_Museo Sans Cyrl 700.ttf") format("truetype");
}
@font-face{
	font-family: "MuseoSans500";
	src:url('ofont.ru_Museo Sans Cyrl 500.ttf') format("truetype");
}
@font-face {
  font-family: 'fontello';
  src: url('fontello/fontello.eot') format('embedded-opentype'),
  url('fontello/fontello.woff') format('woff'),
  url('fontello/fontello.woff2') format('woff'),
  url('fontello/fontello.ttf') format('truetype'),
  url('fontello/fontello.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
