@font-face {
	font-family:'Helvetica';
	src:url(../fonts/Helvetica-regular.otf);
}
@font-face{
	font-family: 'Montserrat ExtraLight';
	src:url(../fonts/Montserrat-ExtraLight.ttf);
}
@font-face{
	font-family: 'Montserrat';
	src:url(../fonts/Montserrat-Regular.ttf);
	font-weight: lighter;
}
	@font-face{
		font-family: 'Poppins';
		src:url(../fonts/Poppins-Bold.otf);
		font-weight: bold;
	}
	@font-face{
		font-family: 'Poppins';
		src:url(../fonts/Poppins-Light.otf);
		font-weight: lighter;
	}
	@font-face{
		font-family: 'Poppins';
		src:url(../fonts/Poppins-Medium.otf);
		font-weight: medium;
	}
	@font-face{
		font-family: 'Poppins';
		src:url(../fonts/Poppins-Regular.otf);
		font-weight: normal;
	}
@font-face{
	font-family: 'Tahoma';
	src:url(../fonts/Tahoma-regular.ttf);
}
@font-face{
	font-family: 'Times New Roman';
	src:url(../fonts/Times New Roman.ttf);
}