
			/* Header */
@media only screen and (max-width: 1000px){
	.header__news{
		margin-top: 100px;
	}
	.logo_title{
		justify-content: center;
	}
}
@media only screen 
and (max-width : 551px){
	.container{
		max-width: 450px;
	}
	.container--small{
		max-width: 350px;
	}
	.header__column:first-child{
		width: 100%;
		text-align: center;
	}
	.header__column:last-child{
		display: none;
	}
	.header_image{
		display: none;
	}
	.logo,.news_suptitle,.news_title{
		margin-top: 0;
	}
	.control_direction,.header__news{
		margin:0;
	}
	.header__title-image{
		display: block;
		margin:30px 0;

	}
	.header__title-img{
		width: 250px;
		border-radius: 10px;
	}
	
}
@media only screen and (min-width: 551px)
and (max-width : 701px){
	.container{
		max-width: 550px;
	}
	.container--small{
		max-width: 550px;
	}
	.logo{
		margin-top: 0;
	}
	.header_img{
		display: none;
	}
	.header__column:first-child{
		width: 100%;
		text-align: center;
	}
	.header__column:last-child{
		display: none;
	}
	.header__news{
		margin-top: 80px;
	}
	..header__inner{
		margin-bottom: 50px;
	}

}
@media only screen and (min-width:701px)
and (max-width : 851px){
	.container{
		max-width: 650px;
	}
	.container--small{
		max-width: 650px;
	}
	.control_direction{
		margin:0;
	}
	.header__column:first-child{
		width: 100%;
	}
	.logo_title{
		justify-content: initial;
	}
}
@media only screen and (min-width: 851px) and (max-width: 920px){
	.container{
		max-width: 750px;
	}
	.container--small{
		max-width: 700px;
	}
	.header__column:first-child{
		width: 100%;
	}
	.logo_title{
		justify-content: initial;
	}
}
@media only screen and (min-width: 920px) and (max-width: 1000px){
	.container{
		max-width: 850px;
	}
	.container--small{
		max-width: 800px;
	}
	.header__column:first-child{
		width: 100%;
	}
	.logo_title{
		justify-content: initial;
	}
}
@media only screen and (min-width: 1000px) and (max-width: 1130px){
	.container{
		max-width: 950px;
	}
	.container--small{
		max-width: 960px;
	}
	.header__news{
		margin-top: 100px;
	}
	.header__column:first-child{
		width: 100%;
	}
	.logo_title{
		justify-content: initial;
	}
}
@media only screen and (min-width: 1130px) and (max-width: 1240px){
	.container{
		max-width: 1050px;
	}
	.container--small{
		max-width: 1000px;
	}
	.header__column:first-child{
		width: 100%;
	}
	.logo_title{
		justify-content: initial;
	}
	.header__news{
		margin-top: 100px;
	}
}
		/* About us */
@media only screen and (max-width: 1000px){
	.about-us__info{
		display: block;
	}
	.about-us__info__text{
		text-align: center;
		margin-left: 0;
	}
}

@media only screen and (max-width : 551px){
	.about-us__title{
		padding: 20px 0;
	}
	.clearfix{
		display: none;
	}
	.about-us__info{
		display: block;
	}
	.about-us__info__text{
		text-align: center;
	}
	.three-dots{
		display: inline-block;
	}
	.hidden-text{
		display: none;
	}
}

@media only screen and (min-width:701px)
and (max-width : 851px){
	
	.about-us__info__img{
		width: 500px;
	}
}

@media only screen and (min-width: 851px) and (max-width: 920px){

	.about-us__info__img{
		width: 550px;
	}
}

@media only screen and (min-width: 920px) and (max-width: 1000px){
	
	.about-us__info__img{
		width: 600px;
	}
}

@media only screen and (min-width: 1000px) and (max-width: 1130px){
	.about-us__info{
		display: block;
	}
	.about-us__info__text{
		text-align: center;
	}
	.about-us__info__image{
		display: none;
	}
	.about-us__info__text{
		text-align: center;
		margin-left: 0;
	}
}
		/* Request > skills */

@media only screen and (max-width: 1000px){
	.skills{
		padding: 50px 0 0 0;
	}
		.skills__row{
		display: block;
	}
	.skills__item{
		margin: 0 auto 120px;
	}
	.skills__item:last-child{
		margin-bottom: 80px;
	}
}

@media only screen and (min-width: 551px)
and (max-width : 701px){
	.skills__item{
		width: 100%;
	}
	.portfolio__item:nth-last-child(-n+1){
		display: none;
	}

}

@media only screen and (min-width:701px)
and (max-width : 851px){
	.skills__item{
		width: 100%;
	}
	.portfolio__item:nth-last-child(-n+1){
		display: none;
	}
}

@media only screen and (min-width: 851px) and (max-width: 920px){
	.skills__item{
		width: 100%;
	}
}

@media only screen and (min-width: 920px) and (max-width: 1000px){
	.skills__item{
		width: 100%;
	}
}

					/* Portfolio */

@media only screen 
and (max-width : 551px){
	.portfolio__item-hidden{
		display: none;
	}
	.about__us__button{
		margin-top: 20px;
	}
	.portfolio__row--hidden{
		display: none;
	}

}

				/* Reviews */
@media only screen and (max-width: 1000px){
	.reviews{
		margin-bottom: 50px;
	}
	.comment__reviews{
		width: inherit;
		height: inherit;
	}
	.reviews__content__title{
		width: 100%;
		text-align: center;
		margin-bottom: 30px;
	}
	.reviews__content{
		display: block;
	}
	.reviews__content__comments__items{
		display: block;
	}
	.reviews__content__comments__item:first-child,.reviews__content__comments__item{
		margin:0 10px;
	}
	.comment__user{
		margin: 30px 0;
	}
}
@media only screen 
and (max-width : 551px){}

@media only screen and (min-width: 551px)
and (max-width : 701px){
	.container--reviews{
		max-width: 550px;
	}

}
@media only screen and (min-width:701px)and (max-width : 851px){
	.container--reviews{
		max-width: 700px;
	}
}
@media only screen and (min-width: 920px) and (max-width: 1000px){
	.reviews__content__title{
		width: 100%;
		text-align: center;
		margin-bottom: 30px;
	}
	.reviews__content{
		display: block;
	}
}
@media only screen and (min-width: 1000px) and (max-width: 1130px){
	.comment__reviews{
		width: inherit;
		height: inherit;
	}
	.reviews__content__title{
		width: 100%;
		text-align: center;
		margin-bottom: 30px;
	}
	.reviews__content{
		display: block;
	}
}


				/* Prefooter */
@media only screen 
and (max-width : 551px){
	.form{
		display: block;
	}
	.form__mail{
		width: 250px;
		border-radius:20px;
	}
	.form__submit{
		border-radius: 20px;
		margin-top: 20px;;
	}

}

			/* Footer */
@media only screen and (max-width: 1000px){.footer__anchor{
		text-align: center;
	}.anchor__item{font-size: 14px;}}

@media only screen 
and (max-width : 551px){
	.anchor__item{
		display: block;
		text-align: center;
		margin:2px 0;
	}
	.footer__anchor{
		margin-top: 0;
		padding: 5px 0;
	}
	.footer__author{
		display: flex;
		justify-content: center;
		padding: 20px 0;
	}
	.author__mail{
		padding: 14px;
	}
}
@media only screen and (min-width: 551px)
and (max-width : 701px){
	.anchor__item{
		font-size: 14px;
	}
}
@media only screen and (min-width:701px)
and (max-width : 851px){

}

				/* Sroll anchor */