/* Scroll */
.hidden
{
    display: none;
}
.page
{
    -webkit-animation: fadeIn 1s;
            animation: fadeIn 1s;
}
.scroll
{
    position: fixed;
    z-index: 10;
    right: 1em;
    bottom: 1em;
}
.scroll:hover .scroll_ico
{
    color: #333;
    background: rgba(235, 235, 235, .8);
}
.scroll_ico
{
    line-height: 30px;

    display: block;

    width: 35px;
    height: 35px;

    -webkit-transition: background .2s linear,color .2s linear;

    transition: background .2s linear,color .2s linear;
    text-align: center;

    opacity: .5;
    color: #fff;
    border-radius: 10px;
    background: rgba(135, 135, 135, .5);
}

/* Float */
.clearfix:after
{
    display: block;
    visibility: hidden;
    clear: both;

    height: 0;

    content: '.';
}
/* COMMENT CLOUD */
.d33
{
    position: relative;

    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 5px 1px rgba(191, 191, 255, .85);
}
body,
html
{
    font-family: 'Poppins',sans-serif;
    font-size: 16px;

    overflow-x: hidden;

    margin: 0;
    padding: 0;
}
div
{
    box-sizing: border-box;
}
button,
input
{
    border: none;
    outline: none;
}
input::-webkit-input-placeholder
{
    font-family: Poppins,sans-serif;

    color: #333;
}
input::-moz-placeholder
{
    font-family: Poppins,sans-serif;

    color: #333;
}
input:-ms-input-placeholder
{
    font-family: Poppins,sans-serif;

    color: #333;
}
input::-ms-input-placeholder
{
    font-family: Poppins,sans-serif;

    color: #333;
}
input::placeholder
{
    font-family: Poppins,sans-serif;

    color: #333;
}

ul,
li
{
    display: inline-block;

    margin: 0;
    padding: 0;
}
li
{
    list-style-type: none;
}
a
{
    text-decoration: none;
}
.container
{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.container--small
{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}


/* HEADER */
.header__inner
{
    position: relative;

    display: -webkit-box;
    display: flex;

    margin-bottom: 100px;
}
/* Circle */
.circle,
.down_to
{
    position: absolute;
    z-index: 2;
    bottom: -20px;
    left: 50%;

    display: block;

    width: 80px;
    height: 80px;

    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}
.circle
{
    border-radius: 100%;
    background-color: #6048ff;
}
.circle-arrow
{
    font-size: 20px;

    position: relative;
    z-index: 4;
    top: calc(50% - 20px);
    left: calc(50% + 2px);

    display: block;

    width: 20px;
    height: 20px;

    -webkit-transform: translate(-50%,-50%) rotate(-45deg);
            transform: translate(-50%,-50%) rotate(-45deg);

    color: #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
}
.litle-arrow
{
    width: 15px;
    height: 15px;
    margin-bottom: 10px;

    -webkit-transform: translate(-50%,0) rotate(-45deg);
            transform: translate(-50%,0) rotate(-45deg);
}

/* First column */
.header__column:first-child
{
    width: 45%;
}
.logo
{
    font-weight: 400;
    line-height: 26.4px;

    margin-top: 70px;

    letter-spacing: 4.4px;
}
.logo_title
{
    font-family: 'Times New Roman',sans-serif;
    font-size: 26px;

    text-transform: uppercase;

    color: #69696a;
}
.logo_subtitle
{
    font-family: Helvetica,sans-serif;
    font-size: 20px;

    color: #dfe5e9;
}
.header__news
{
    margin-top: 200px;
}
.news_suptitle,
.news_title,
.news_text
{
    margin: 0;
}
.news_suptitle
{
    font-family: Montserrat,sans-serif;
    font-size: 26px;

    color: #bdbdb5;
}
.news_title
{
    font-family: Poppins,sans-serif;
    font-size: 38px;

    color: #044c85;
}
.news_text
{
    font-family: 'Montserrat ExtraLight',sans-serif;
    line-height: 30px;

    margin: 10px 0;

    letter-spacing: 1.33px;

    color: #79796a;
}
.news__control
{
    margin-top: 50px;
}

/* DOTS */
.control__dots
{
    margin: 0 10px;
}
.control_dot:hover
{
    border-color: #5f3dff;
}
.control_dot
{
    position: relative;

    display: block;

    width: 14px;
    height: 14px;

    -webkit-transition: border .2s linear;
            transition: border .2s linear;

    border: 2px solid #999;
    border-radius: 100%;
}
.li_dot
{
    margin: -2.5px 0;
}
.active
{
    border-color: #5f3dff;
}
.active::after
{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;

    display: block;

    width: 5px;
    height: 5px;

    content: '';
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);

    border-radius: 100%;
    background-color: #5f3dff;
}
/* ARROW + TEXT */
.control_direction
{
    font-family: Poppins,sans-serif;
    font-size: 14px;
    font-weight: lighter;

    margin: 0 20px;

    letter-spacing: 2.4px;

    color: #6d6d75;
}
.arrow
{
    color: #999;
}
.arrow i
{
    font-size: 16px;
}
.arrow--active
{
    color: #000;
}
.direction_active
{
    color: #3f3f4a;
}
.left,
.right
{
    position: relative;
}
.left::before
{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    height: 3px;

    content: '';
}
/* Second column */
.header__column:last-child
{
    position: relative;

    width: 55%;
}
.header_img
{
    position: absolute;
    z-index: 0;
    top: 0;

    width: 750px;
    height: auto;

    border-radius: 0 0 0 100%;
}
/* ABOUT US */
.about_us
{
    position: relative;
}
.about-us__image
{
    position: absolute;
    z-index: 1;
    top: -10px;
    left: 0;
}
.about-us__title,
.about-us__subtitle
{
    margin: 0;

    text-align: center;
}
.about-us__subtitle,
.about-us__info__text,
.btn
{
    font-family: Poppins,sans-serif;
}
.about-us__title
{
    font-family: Montserrat,sans-serif;
    font-size: 30px;
    font-weight: 300;

    padding-top: 65px;

    color: #00578d;
}
.about-us__subtitle
{
    font-family: Poppins,sans-serif;
    font-size: 22px;

    margin-bottom: 20px;

    text-transform: uppercase;

    color: #000;
}
.about-us__info
{
    display: -webkit-box;
    display: flex;

    -webkit-box-flex: 1;

            flex: 1 1 0;
}
.about-us__info__image
{
    z-index: 3;

    text-align: center;
}
.about-us__info__img
{
    max-width: 100%;
}
.about-us__info__text
{
    font-weight: 300;
    line-height: 42.5px;

    width: 100%;

    text-align: right;

    color: #79796a;
}
.about__us__button
{
    font-size: 12px;
    font-weight: 700;
    line-height: 14.4px;

    margin-top: 30px;

    text-align: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;

    color: #fff;
}
.btn
{
    width: 200px;
    height: 60px;

    cursor: pointer;
    -webkit-transition: background-image .2s linear .2s;
            transition: background-image .2s linear .2s;

    border-radius: 40px;
    background-image: linear-gradient(-255.29deg, #6048ff 0%, #782fe2 100%);
    box-shadow: 0 0 5px 1px rgba(191, 191, 255, .85);
}
.btn:hover
{
    background-image: linear-gradient(-255.29deg, #782fe2 0%, #6048ff 100%);
}
/* PORTFOLIO  */
.portfolio__row
{
    margin-top: 50px;
}
.portfolio__items
{
    display: -webkit-box;
    display: flex;

    -webkit-box-flex: 1;

            flex: 1 1 0;
}
.portfolio__item
{
    position: relative;

    margin: 0 15px;

    cursor: pointer;
}
.portfolio__image
{
    background-color: #9e5406;
}
.portfolio__img
{
    position: relative;
    z-index: 1;

    display: block;

    width: 100%;
}
.portfolio__content
{
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;

    width: 100%;

    -webkit-transition: opacity .2s linear ,border .2s linear;

    transition: opacity .2s linear ,border .2s linear;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    text-align: center;
    text-transform: uppercase;

    opacity: 0;
    color: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.portfolio__item:hover .portfolio__img
{
    opacity: .6;
}
.portfolio__item:hover .portfolio__content
{
    opacity: 1;
}
/* Reviews */
.reviews__content
{
    display: -webkit-box;
    display: flex;

    margin-top: 100px;
}
.quotes i
{
    font-size: 30px;

    color: #e9effc;
}
.reviews__content__title
{
    width: 30%;
}
.reviews__title
{
    font-size: 36px;
    font-weight: 500;

    margin: 0;

    color: #222;
}
.reviews__content__comments__items
{
    display: -webkit-box;
    display: flex;

    margin-bottom: 30px;
}
.reviews__content__comments__item
{
    margin: 0 15px;
}
.comment__block__inner
{
    padding: 20px 15px;
}
.comment__text
{
    font-size: 14px;
    font-weight: 300;
    line-height: 32.5px;

    color: #79796a;
}
.comment__star
{
    color: #c0c0c0;
}
.comment__star--active
{
    color: #ffc041;
}
.comment__user
{
    margin-top: 30px;
}
.user__img
{
    width: 60px;
    height: 60px;
}
.user__foto
{
    position: relative;
}
.user__name
{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 80px;

    margin: 0;

    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);

    color: #212121;
}
/* Skills */
.skills
{
    padding: 50px 0 100px 0;
}
.skills__row
{
    display: -webkit-box;
    display: flex;

    -webkit-box-pack: justify;

            justify-content: space-between;
}
.skills__item
{
    width: 235px;
    height: 235px;
    margin: 0 20px;

    text-align: center;

    border-bottom: 1px solid #d4d4d4;
    border-radius: 5px;
    background-color: #fff;

    -webkit-box-flex: 1;

            flex: 1 1 0;
}
.skills__content
{
    height: 100%;
    padding: 20px 10px;
}
.skills__title
{
    font-family: montserrat;

    text-transform: uppercase;

    color: #000;
}
.skills__info
{
    height: 50px;

    opacity: .5;
    color: #333;
}
.skills__ico
{
    font-size: 36px;
}

/* Request */
.request
{
    padding-bottom: 65px;

    background: #f5f5f5;
}
.request__form
{
    text-align: center;
}
.form__title
{
    font-family: Montserrat,sans-serif;
    font-size: 30px;
    font-weight: bold;

    color: #3c4b74;
}
.form__text
{
    font-family: Poppins,sans-serif;
    font-size: 14px;

    width: 70%;
    margin: 0 auto;

    color: #79796a;
}
.form__atention
{
    font-weight: bold;
}
/* Form content */
.form
{
    display: -webkit-box;
    display: flex;

    margin-top: 60px;

    -webkit-box-pack: center;

            justify-content: center;
}
.form__mail
{
    width: 350px;
    height: 40px;
    padding: 0 20px;

    border-radius: 20px 0 0 20px;
    box-shadow: 0 0 5px 1px rgba(191, 191, 255, .85);
}
.form__submit
{
    font-family: Poppins,sans-serif;
    font-weight: 700;

    width: 125px;
    height: 40px;
    padding: 0;

    cursor: pointer;
    text-transform: uppercase;

    color: #fff;
    border-radius: 0 20px 20px 0;
    background-image: linear-gradient(-255.29deg, #6047fe 0%, #773adc 100%);
    box-shadow: 0 0 5px 1px rgba(191, 191, 255, .85);;
}


/* Feedback */
.feedback
{
    margin-top: 100px;
}
.feedback__items
{
    display: -webkit-box;
    display: flex;

    -webkit-box-pack: center;
    justify-content: center;
}
.feedback__link i
{
    -webkit-transition: color .2s linear;
            transition: color .2s linear;

    color: #cacad9;
}
.feedback__icon i
{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}
.feedback__icon
{
    font-size: 18px;

    position: relative;

    display: block;

    width: 30px;
    height: 30px;
    margin: 0 10px;

    cursor: pointer;
    -webkit-transition: border-color .2s linear;
            transition: border-color .2s linear;

    border: 2px solid #cacad9;
    border-radius: 100%;
}
.feedback__item:hover .feedback__icon
{
    color: #8244e7;
    border-color: #8244e7;
}
.feedback__item:hover .feedback__link i
{
    color: #8244e7;
}

/* FOOTER */
.footer
{
    margin: 80px 0 40px 0;

    background: #fafbff;
}
.footer__content
{
    display: -webkit-box;
    display: flex;

    -webkit-box-pack: justify;
    justify-content: center;
}
.anchor__links
{
    line-height: 19.2px;

    margin: 0 10px;

    -webkit-transition: color .2s linear;
            transition: color .2s linear;
    letter-spacing: 1.6px;
    text-transform: uppercase;

    color: #aaa;
}
.anchor__links:hover
{
    color: #000;
}

.footer__anchor
{
    padding: 40px;
}

/* Author */
.author__mail
{
    font-size: 18px;

    padding: 10px 14px;

    -webkit-transition: color .2s linear,background .2s linear;

    transition: color .2s linear,background .2s linear;

    color: #888;
    border-radius: 5px;
}
.author__mail:hover
{
    color: #333;
    background: #fafbff;
}
.footer__author
{
    padding: 10px 0;

    text-align: center;
    text-transform: uppercase;

    color: #aaa;
}

/* Popup */
.no-scroll
{
    overflow: hidden;
}
.popup
{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    visibility: hidden;

    width: 100%;
    height: 100%;

    -webkit-animation: fadeIn 1s;
            animation: fadeIn 1s;

    background: rgb(34, 34, 34,.9);
}
@-webkit-keyframes fadeIn
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}
@keyframes fadeIn
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}
.popup_content
{
    position: absolute;
    z-index: 103;
    top: 50%;
    left: 50%;

    display: block;

    -webkit-transform: translate(-50%,-50%);

            transform: translate(-50%,-50%);
}
.form__popup
{
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;

    margin-top: 0;
}
.mail__popup
{
    margin: 10px 0;

    border-radius: 20px;
}
.submit__popup
{
    margin: 0 auto;

    border-radius: 20px;
}
.popup__title
{
    font-family: Montserrat,sans-serif;
    font-size: 26px;
    font-weight: bold;

    text-transform: uppercase;

    color: #fff;
}
